parameters:
	ignoreErrors:
		-
			message: '#^Class Modules\\Clients\\Models\\Company uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Clients/Models/Company.php

		-
			message: '#^Method Modules\\Clients\\Services\\CompanyService\:\:list\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Clients/Services/CompanyService.php

		-
			message: '#^Method App\\Models\\AuditLog\:\:auditable\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\MorphTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Method App\\Models\\AuditLog\:\:tenant\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Method App\\Models\\AuditLog\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Class App\\Models\\Tenant uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:company\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:users\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Class Modules\\Vehicles\\Models\\Vehicle uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Vehicles/Models/Vehicle.php

		-
			message: '#^Method Modules\\Vehicles\\Services\\VehicleService\:\:list\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Vehicles/Services/VehicleService.php

		-
			message: '#^Class Modules\\Drivers\\Models\\Driver uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Drivers/Models/Driver.php

		-
			message: '#^Method Modules\\Drivers\\Services\\DriverService\:\:list\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Drivers/Services/DriverService.php
